.menuItem {
    width: 300px;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: solid 3px double;
    display: flex;
    cursor: pointer;

    border: solid 1px brown;
    padding: 10px;

    div {
        margin-right: 10px;
    }
}

.menuItem:hover {
    background-color: brown;
    color: white;
}